
@{
    ViewBag.Title = "Login";
}
<script>
    function sha256(str) {
        // We transform the string into an arraybuffer.
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function (hash) {
            return hex(hash);
        });
    }

    function hex(buffer) {
        var hexCodes = [];
        var view = new DataView(buffer);
        for (var i = 0; i < view.byteLength; i += 4) {
            // Using getUint32 reduces the number of iterations needed (we process 4 bytes each time)
            var value = view.getUint32(i)
            // toString(16) will give the hex representation of the number without padding
            var stringValue = value.toString(16)
            // We use concatenation and slice for padding
            var padding = '00000000'
            var paddedValue = (padding + stringValue).slice(-padding.length)
            hexCodes.push(paddedValue);
        }

        // Join all the hex strings into one
        return hexCodes.join("");
    }
    function hashPassword() {
        let password = document.getElementById("password").value;
       let hash= sha256(password).then(function (digest) {
           document.getElementById("hash").value = digest;
        });
        
    }
    sha256("foobar").then(function (digest) {
        console.log(digest);
    }); // outputs "c3ab8ff13720e8ad9047dd39466b3c8974e592c2fa383d4a3960714caef0c4f2"

    function afterLoad() {
        if (document.getElementById("error").className == "error")
            swal({
                icon: 'error',
                title: 'טעות',
                text: 'שם משתמש או סיסמה אינם נכונים.'
            })
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<body onload="afterLoad()" >
    <section style="margin-top:10%">
        <div class="block gray ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="account-popup-sec static-popup">
                            <div class="acount-popup login-popup">
                                <h3>התחברות</h3>
                                <form action="@Url.Action("Login","User")" method="post">
                                    <div class="field-form">
                                        <input class="effect-16" type="text" name="name">
                                        <label>שם משתמש</label>
                                        <span class="focus-border"></span>
                                    </div>
                                    <div class="field-form">
                                        <input type="hidden" name="password" id="hash"/>
                                        <input class="effect-16" type="password" id="password" onchange="hashPassword()">
                                        <label>סיסמה</label>
                                        <span class="focus-border"></span>
                                    </div>

                                    <button type="submit">הכנס</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="error" class="@ViewBag.error" />
</body>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- Bootstrap -->
<link href="~/Content/line-awesome.min.css" rel="stylesheet" />
<!-- Icons -->
<link href="~/Content/style.css" rel="stylesheet" />
<!-- Style -->
<link href="~/Content/responsive.css" rel="stylesheet" />
<!-- Responsive -->
<link href="~/Content/colors/colors.css" rel="stylesheet" />
<!-- color -->
